* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000; /* MUDEI DE VOLTA A COR DE FUNDO*/
    color: #fff;
    line-height: 1.6;
}


header {
    background-color: #6a4ca7; /* Lilás */
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}


.filme {
    background-color: #fff;
    color: #000;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.filme img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.filme h2 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.filme p {
    font-size: 16px;
    margin-bottom: 10px;
}

.filme a {
    display: inline-block;
    background-color: #6a4ca7;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}


footer {
    text-align: center;
    padding: 10px 0;
    background-color: #6a4ca7;
}


a {
    color: #6a4ca7; 
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #443682; 
}




.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6a4ca7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}


.button:hover {
    transform: scale(1.1);
}


.button:focus {
    outline: none;
}


.filme-button {
    display: block;
    margin-top: 10px;
    text-align: center;
}


.filme-button .button:hover {
    transform: scale(1.05);
}



.animated {
    animation: grow 0.3s ease-in-out;
}


@keyframes grow {
    0% { transform: scale(1); }
    100% { transform: scale(1.05); }
}